@mixin content($color-default, $color-main, $borderColor, $innerBG, $innerBorder) {
/*   background: $color-default;
  color: $color-main;
  border-color: $borderColor;
 */
  /* 
      Rules for this

      Intial background, shall be color-default


   */

  .pokemon-image-nav-container, .pokemon-content-container {
    background: $color-default !important;
    color: $color-main !important;
    border-color: $borderColor !important;

    .pokemon-image-container {
      
      border: 4px solid;
      border-radius: 10px;
      border-color: $innerBorder;
      background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAKElEQVQoU2PUNLH6f/3MMUYGPACkBq8CZL2DSSEuzw2AG2FOYSQ2wAHTGRM3I5z+CgAAAABJRU5ErkJggg==)repeat, $innerBG;
 
    }

  }
}


@mixin typeColor($borderColor, $backgroundColor, $fontColor) {
  background: $backgroundColor;
  border-color: $borderColor;
  color: $fontColor;
}