@font-face {

  font-family:"Arcade"; 
  src:url('/assets/assets/fonts/ARCADECLASSIC.TTF') format('truetype');
}

$gameText: 'Arcade', sans-serif;


//Gameboy Classic Colors

$darkestGreen: #29343a;
$darkGreen: #415142;
$midGreen: #75844d;
$lightGreen: #aab56f;